@font-face{
    font-family: "cassette";
    font-size: 40px;
    src: url("../../components/header/Chasing.ttf") format("truetype");
  }

.certs-header {
    font-size: 40px;
    line-height: 1.1;
    font-family: "cassette";
    text-align: center;
  }
  
  .certs-body-div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  @media (max-width:1380px){
      .certs-header{
          font-size: 35px;
      }
  }
  
  @media (max-width:768px){
      .certs-body-div{
          flex-direction: column;
      }
  
      .certs-header{
          font-size: 30px;
      }
  }