/* header */

.header {
  display: block;
  max-width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
.grey-color {
  color: black;
}



.header li a {
  display: block;
  padding: 20px 0px;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .header li a {
    display: block;
    padding: 0px 0px;
    color: black;
    text-decoration: none;
  }

}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}



.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

@font-face{
  font-family: "BeautyDemo";
  font-size: 40px;
  src: url("./BeautyDemo.ttf") format("truetype");
}

.header .logo-name {
  font-family: "BeautyDemo";
  font-weight: bold;
  padding: 0 10px;
  font-size: 45px;
  color: #277aa9;
}

.header li a:before, .header li a:after
{
    opacity: 0;
    transition: all 0.3s;
}

.header li a:after {
  font-family:"Agustina Regular";
  content: "/>";
  transform: translateX(-10px);
  font-weight:normal;
  font-size: 35px;
  padding-left: -10px;

}

.header li a:before {
  font-family:"Agustina Regular";
  content: "<";
  font-weight:normal;
  font-size: 35px;
  transform: translateX(-10px);

}

.header li a:hover:before, .header li a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}

.header li a:focus:before, .header li a:focus:after
{
    opacity: 10;
    transform: translateX(0px);
}



/* menu */

.menu {
  /*font-family: "Google Sans Regular";*/
  font-family: "BeautyDemo";
  font-weight:normal;
  padding: 0 0px;
  font-size: 35px;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 450px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



/* 48em = 768px */

@media (min-width: 48em) {

  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (max-width: 960px) and (min-width: 768px) {
  .header {
    font-size: 12px;
  }
}