@font-face{
  font-family: "cassette";
  font-size: 40px;
  src: url("../../components/header/Chasing.ttf") format("truetype");
}

@font-face{
  font-family: "BeautyDemo";
  font-size: 40px;
  src: url("../../components/header/BeautyDemo.ttf") format("truetype");
}

.experience-main {
  width: 100vw;
}

.basic-experience {
  margin-left: 5%;
  margin-right: 5%;
}

.experience-heading-div {
  display: flex;
}

.experience-heading-div > * {
  flex: 1;
}

.experience-heading-img-div {
  align-items: center;
  justify-content: center;
}

.experience-heading-text-div {
  text-align: center;
}

.experience-heading-img-div > img {
  max-width: 100%;
  height: auto;
}

.experience-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "cassette";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.experience-heading-sub-text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "cassette";
}

.heading-sub-text {
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  color: #868e96;
}

@media (max-width: 1380px) {
  .experience-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .experience-heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .experience-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .experience-heading-sub-text {
    font-size: 20px;
  }

  .experience-heading-div {
    flex-direction: column;
  }



  

}


.circular--portrait {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}


.carousel-root {
    outline: none;

}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #000000;
    color: coral;
}


@media only screen and (max-width: 600px) {
  .carousel-root {
      outline: none;
      height: 300px;
      width:320px;
      margin-bottom: 420px;
  }

  .textcs{
    position: relative;
    color: #f5f5f5;
    text-align:left;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    padding-left: 50px;
    height: 300px;
    width:300px;
    font-family: Consolas,'Courier New',Monaco,Courier,monospace;
    line-height: 18px;
    overflow: scroll;
  }

  #heading{
    font-family: cassette;
  }
  /* blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color:cornsilk;
    }
    
    blockquote:before {
    display: block;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: 20px;
    top: -20px;
    color: cornsilk;
    }
    
    blockquote cite {
    color: cornsilk;
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }
     
    blockquote cite:before {
    content: "\2014 \2009";
    } */


}






.textcs{

  position: relative;
  color: #f5f5f5;
  text-align:left;
 text-justify: inter-word;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

  padding-left: 50px;
  font-family: Consolas,'Courier New',Monaco,Courier,monospace;
  /*font-family:aerial;*/
  line-height: 18px;
  overflow: scroll;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}


#exp_block {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  }
  
  #exp_block:before {
  display: block;
  content: "\201C";
  font-size: 60px;
  position: absolute;
  left: 50px;
  top: -20px;
  }

  
  #exp_block cite {
  font-size: 14px;
  display: block;
  margin-top: 5px;
  }
   
  #exp_block cite:before {
  content: "\2014 \2009";
  }






