.experience-main {
  width: 100vw;
}

.basic-experience {
  margin-left: 5%;
  margin-right: 5%;
}

.experience-heading-div {
  display: flex;
}

.experience-heading-div > * {
  flex: 1;
}

.experience-heading-img-div {
  align-items: center;
  justify-content: center;
}

.experience-heading-text-div {
  text-align: center;
}

.experience-heading-img-div > img {
  max-width: 100%;
  height: auto;
}

.experience-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 80px;
}

.experience-heading-sub-text {
  font-size: 30px;
  font-family: "Google Sans Regular";
  text-align: center;
  margin-bottom: 10px;
}

.experience-header-detail-text {
    font-size: 20px;
  line-height: 30px;
  margin-top:0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
}

@media (max-width: 1380px) {
  .experience-heading-text {
    font-size: 50px;
    margin-top: 80px;
  }
  .experience-heading-sub-text {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .experience-heading-text {
    font-size: 30px;
    margin-top: 20px;
  }

  .experience-heading-sub-text {
    font-size: 20px;
  }

  .experience-heading-div {
    flex-direction: column;
  }

  .experience-header-detail-text {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }

}


.circular--portrait {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}


.carousel-root {
    outline: none;

}

.carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: #00000;
    color: coral;
}


@media only screen and (max-width: 600px) {
  .carousel-root {
      outline: none;
      height: 300px;
      width:300px;
      margin-bottom: 420px;
  }

  .textcs{

    position: relative;
    color: #f5f5f5;
    text-align: justify;
   text-justify: inter-word;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    padding-left: 50px;
    height: 300px;
    width:200px;
    font-family: Consolas,'Courier New',Monaco,Courier,monospace;
    /*font-family:aerial;*/
    line-height: 18px;
    overflow: scroll;
    /*quotes: "\201C""\201D""\2018""\2019";*/
  }

}





.textcs{

  position: relative;
  color: #f5f5f5;
  text-align: justify;
 text-justify: inter-word;
  margin: 1.5em 10px;
  padding: 0.5em 10px;

  width: 90%;
  padding-left: 50px;
  font-family: Consolas,'Courier New',Monaco,Courier,monospace;
  /*font-family:aerial;*/
  line-height: 18px;
  overflow: scroll;
  /*quotes: "\201C""\201D""\2018""\2019";*/
}


/*.textcs:before {
			color: #ccc;
			content: open-quote;
			position: absolute;
			left: 10px;
			top: 30px;
			font-size: 4em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}

		.textcs p {
			display: inline;
		}
*/
